@charset "UTF-8";
html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

.container {
  max-width: 1143px;
  margin: 0 auto;
  padding: 0 10px;
}

.main__bth, .bth, .main__bth__hover, .btn-mobail, .main__bth-mobail {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  padding: 2rem 3rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  transform: scale(1);
  transition: 0.3s;
}

.footer-info a {
  font-weight: 700;
  font-size: 1.4rem;
  padding: 2rem 3rem;
  text-decoration: none;
  transform: scale(1);
  transition: 0.3s;
  color: #2B3541;
}

.title, .description {
  animation: BtnToup 0.5s ease-out 1s;
  animation-fill-mode: backwards;
}

.hero, .offer__aside {
  animation: BtnToup 0.5s ease-out 1s;
  animation-fill-mode: backwards;
}

@keyframes BtnToup {
  0% {
    opacity: 0;
    transform: translatex(-5rem);
  }
  100% {
    transform: translate(0px);
  }
}
.box, .trainer {
  animation: Btn 0.5s ease-out 1s;
  animation-fill-mode: backwards;
}

@keyframes Btn {
  0% {
    opacity: 0;
    transform: translatex(5rem);
  }
  100% {
    transform: translate(0px);
  }
}
.arron {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: relative;
}

.arron::after {
  animation: pulse 1000ms cubic-bezier(0.9, 0.7, 0.5, 0.9) infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.4);
    opacity: 0.4;
  }
}
.arron::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #FBF138;
  border-radius: 50%;
  z-index: -1;
}

.main-img {
  transform: scale(1);
  transition: 0.3s;
  animation-name: myAnimation6;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.main-img:hover {
  animation-play-state: paused;
}

@keyframes myAnimation6 {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  to {
    transform: scale(1);
  }
}
@keyframes move {
  0% {
    transform: translate(0%, 0px);
  }
  50% {
    transform: translate(2vw, 2vw);
  }
  0% {
    transform: translate(12vw, 0);
  }
}
h1, h2, h3, h4, h5, h6 {
  color: #2B3541;
}

h2 {
  font-size: clamp(4rem, 3vw, 2.6rem);
}

h3 {
  font-size: clamp(2.8rem, 3vw, 1.6rem);
  margin-bottom: 8rem;
  margin-top: 2rem;
  width: 31rem;
}

h4 {
  font-size: clamp(1.8rem, 3vw, 1.6rem);
  margin-bottom: 8rem;
}

h5 {
  font-size: clamp(1.8rem, 3vw, 1.6rem);
  font-weight: 700;
}

.title, .title__offer, .title_main, .title_main_grig {
  font-weight: 700;
  font-size: clamp(4.8rem, 3vw, 2.5rem);
  line-height: 125%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 64rem;
}

.description, .description__gray__description, .description__aside {
  font-size: clamp(4rem, 3vw, 2.6rem);
  font-weight: 400;
  letter-spacing: 0.02em;
  margin-bottom: 2rem;
  width: 40rem;
}

.description__aside {
  font-weight: 700;
}

.title {
  margin-bottom: 4.3rem;
}

.text, .text_main, .title_grud, .text__aside, .text__paragraph, .text__aside__row {
  font-weight: 400;
  font-size: clamp(1.8rem, 3vw, 1.6rem);
  line-height: 150%;
  color: #2B3541;
  margin-bottom: 3.7rem;
}

.text_main {
  display: block;
  text-align: right;
  margin-top: 2rem;
  opacity: 0.7;
}

.text__aside__row {
  opacity: 0.6;
  color: #2B3541;
}

.bth, .bth, .main__bth__hover, .btn-mobail, .main__bth-mobail {
  display: block;
  background: #FBF138;
  width: 26rem;
  color: #2B3541;
}

.btn__mobail {
  display: none;
}

.form-email-bth__modil {
  display: none;
}

.form-email-modil {
  display: none;
}

.main__bth {
  width: 12.6rem;
  padding: 1rem 2rem;
  font-weight: 400;
  font-size: 18px;
  text-transform: none;
  position: absolute;
  right: 0;
  top: 55.8rem;
}

.main__bth__hover {
  font-size: 16px;
  width: 22rem;
  margin-bottom: 32rem;
  background: #2B3541;
  color: #FBF138;
  opacity: 0;
}

.bth:hover {
  background: #2B3541;
  color: #FBF138;
}

.margin-bottom-40px {
  margin-bottom: 4rem;
}

.margin-bottom_40px {
  margin-bottom: -40rem;
}

.margin-bottom-20px {
  margin-bottom: 2rem;
}

.text-align-center {
  text-align: center;
}

.padding-top-160px {
  padding-top: 16rem;
}

.header, .header_footer {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 2.7rem;
}
.header__nav, .header_footer__nav {
  display: flex;
  gap: 5.4rem;
  list-style-type: none;
  position: relative;
  right: 14rem;
}
.header-burger, .header_footer-burger {
  display: none;
}
.header__nav a, .header_footer__nav a {
  right: 0;
  font-family: Montserrat;
  font-weight: 400;
  font-size: clamp(1.8rem, 3vw, 1.6rem);
  line-height: 150%;
  color: #2B3541;
  text-decoration: none;
}
.header__nav a::after, .header_footer__nav a::after {
  content: "";
  height: 1px;
  width: 100%;
  background: #2B3541;
  border-radius: 1px;
  display: block;
  background: transparent;
}
.header__nav a:hover::after, .header_footer__nav a:hover::after {
  background: #2B3541;
}
.header__icon, .header_footer__icon {
  display: flex;
  gap: 3rem;
  transform: scale(1);
  transition: 0.3s;
  position: relative;
  left: 0rem;
}
.header__icon a:hover, .header_footer__icon a:hover {
  transform: scale(1.3);
}

.main_flex {
  display: flex;
  justify-content: space-between;
}

.text__paragraph {
  font-size: clamp(2.8rem, 3vw, 1.6rem);
  font-weight: 700;
}

/* main gridd */
.main__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 31.4rem 7.3rem;
  gap: 2rem;
  margin-bottom: 20.9rem;
}

.main-img:hover {
  transform: scale(1.5);
}

.main__grid__item {
  border: 1px solid rgb(43, 53, 65);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  padding: 0px 30px;
  max-width: 100%;
}

.main__grid__item:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 0px 28px;
  margin-top: 4px;
}

.main__grid__item:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/3;
  padding: 0px 29px;
  margin-top: 3px;
}

.main__grid__item:nth-child(3) {
  grid-column: 3/4;
  grid-row: 1/2;
  padding: 0px 29px;
  margin-top: 4px;
}

.main__grid__item:nth-child(5) {
  grid-column: 2/3;
  grid-row: 3/5;
}

.main__grid__item:nth-child(4) {
  grid-column: 1/2;
  grid-row: 2/4;
  height: 148.5%;
  margin-top: -5px;
  background: var(--new-gradient, linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%));
  box-shadow: 0px 13px 30px 0px rgba(186, 180, 69, 0.2);
  opacity: 0.7;
  border: none;
}

.main__grid__item:nth-child(6) {
  grid-column: 3/4;
  grid-row: 2/5;
}

.main-name:hover p {
  max-height: 600px;
}

.title_main_grig {
  font-size: clamp(4rem, 3vw, 2.6rem);
  width: 33rem;
}

.footer {
  margin-top: 17rem;
  background: #F3F3F3;
  padding-top: 4.5rem;
  padding-bottom: 2.1rem;
}

.footer-box {
  display: flex;
  justify-content: space-between;
}

.footer_nav {
  display: flex;
  gap: 5.4rem;
  list-style-type: none;
  position: relative;
  right: 14rem;
}

.footer_nav a {
  right: 0;
  font-family: Montserrat;
  font-weight: 400;
  font-size: clamp(1.8rem, 3vw, 1.6rem);
  line-height: 150%;
  color: #2B3541;
  text-decoration: none;
}

.footer_nav a::after {
  content: "";
  height: 1px;
  width: 100%;
  background: #2B3541;
  border-radius: 1px;
  display: block;
  background: transparent;
}

.footer_nav a:hover::after {
  background: #2B3541;
}

.footer_nav {
  display: flex;
  gap: 5.4rem;
  transform: scale(1);
  transition: 0.3s;
  position: relative;
  left: 0rem;
}

.footer_nav a:hover {
  transform: scale(1.3);
}

.footer-info::before {
  content: "";
  width: 25px;
  height: 25px;
  background: #FBF138;
  box-shadow: 0 13px 24px 0 rgba(251, 241, 56, 0.3);
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  z-index: -1;
  left: 14px;
  top: -10px;
}

.footer-info {
  position: relative;
  top: 1rem;
}

.footer__icon {
  top: -0.7rem;
}

.footer-row {
  padding-top: 3.1rem;
}

.footer__text {
  font-size: 1.4rem;
  font-weight: 400;
  opacity: 0.3;
}

.e-mail a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #2B3541;
  opacity: 1;
}

.e-mail a::after {
  content: "";
  height: 1px;
  width: 100%;
  background: #2B3541;
  border-radius: 1px;
  display: block;
  background: transparent;
}

.e-mail a:hover::after {
  background: #2B3541;
}

.footer_icon-mobail {
  display: none;
}

.footer__item-mobaol {
  display: none;
}

/*Mobal*/
.burger {
  width: 34px;
  height: 22px;
  background-image: url(../image/menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

#modal {
  max-width: 587px;
  height: 331px;
  background-color: #F3F3F3;
  position: absolute;
  top: -500px;
  left: 0;
  right: 0;
  margin: 20px auto 0;
  transition: 0.5s;
  padding: 29px 10px;
  box-sizing: border-box;
  flex-direction: column;
  z-index: 99;
}

.burger-close {
  width: 20px;
  height: 19px;
  background-color: transparent;
  background-image: url(../image/cross.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 20px;
}

.modal-header-nav {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
}

.modal-header-nav a {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2B3541;
  gap: 40px;
  text-decoration: none;
  line-height: 3;
  line-break: auto;
}

.modal-header-nav li ::after {
  content: "";
  height: 1px;
  background: #2B3541;
  border-radius: 1px;
  display: block;
  opacity: 100%;
  margin: 10px 0;
}

.modal-social {
  position: absolute;
  display: flex;
  gap: 20px;
  top: 275px;
  right: 31px;
  transform: scale(1);
  transition: 0.3s;
}

.modal-social a:hover {
  transform: scale(1.3);
}

.wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 106%;
  height: 84rem;
}

.offer {
  padding-top: 19.3rem;
}

.arron {
  margin-top: 18rem;
}

.arron_cluk {
  display: block;
  background: url(../image/arrow.svg);
  width: 52px;
  height: 55px;
  transform: scale(1);
  transition: 0.3s;
}

.box {
  position: absolute;
  left: 33rem;
  top: 4rem;
}

.box__Rectangle {
  position: absolute;
  background: linear-gradient(90deg, #fbf138 0%, rgba(253, 249, 182, 0.45) 100%);
  opacity: 0.2;
  width: 464px;
  height: 850px;
  left: 35rem;
  z-index: -1;
}

.hero, .hero__hero__aside {
  margin-left: 9rem;
  width: 30rem;
}

.offer__aside {
  margin-top: 0px;
}

.wrap {
  gap: 9.2rem;
}

.offer__aside {
  padding-top: 0rem;
  max-width: 47rem;
}

.trainer {
  position: relative;
  z-index: 0;
}

.trainer-img {
  max-width: 100%;
}

.trainer:before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  background: linear-gradient(180deg, rgba(251, 241, 56, 0.3) 0%, rgba(253, 249, 182, 0) 100%);
  height: 30%;
  width: 100%;
  right: 0rem;
  z-index: 1;
}

.main__row__aside {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px 4rem;
}

.paragraff {
  opacity: 0.6;
  font-size: clamp(1.8rem, 3vw, 1.6rem);
  color: #2B3541;
  line-height: 150%;
  padding-top: 2rem;
}

.main {
  padding: 8rem 0rem;
}

.main__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 20px;
}

.main__row_block1 {
  background: url(../image/maraphon.png);
  height: 60rem;
}

.main__row_block2 {
  background: url(../image/Vebinar\ 1.png);
  height: 59.8rem;
}

.main__row_block3 {
  background: url(../image/oiga.jpg);
  height: 59.8rem;
}

.main__row_block1, .main__row_block2, .main__row_block3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main__blur {
  width: 100%;
  height: 60rem;
  transition: 0.2s;
  background: linear-gradient(180deg, rgba(251, 241, 56, 0.3) 0%, rgba(253, 249, 182, 0) 100%);
  position: relative;
  padding: 30px 0px 30px 30px;
}

.main__blur:hover {
  background: linear-gradient(180deg, rgb(251, 241, 56), rgba(253, 249, 182, 0) 60%);
}

.main__blur:hover .main__bth__hover {
  opacity: 1;
}

span {
  font-weight: 700;
  font-size: clamp(1.8rem, 3vw, 1.6rem);
  line-height: 150%;
  color: #2B3541;
  opacity: 0.6;
  margin-bottom: 2rem;
}

.plus, .plus-olga {
  display: none;
}

.gray {
  background: #F3F3F3;
  padding-top: 6rem;
  padding-bottom: 6.2rem;
}

.gray__description {
  display: inline;
  font-size: clamp(4rem, 3vw, 2.6rem);
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.gray__description::before {
  content: "";
  width: 50px;
  height: 50px;
  background: #FBF138;
  box-shadow: 0 13px 24px 0 rgba(251, 241, 56, 0.3);
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  z-index: -1;
  left: -21px;
  top: -1rem;
}

.form {
  text-align: center;
}

.form-wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 2rem;
}

.align-items {
  display: block;
  margin: 0 auto;
}

input {
  outline: none;
  padding: 19px 54px 18px 19px;
  border: 0px;
  font-size: 18px;
  line-height: 150%;
  color: rgb(43, 53, 65);
  width: 272px;
  width: 41rem;
}

label {
  font-size: 11px;
  line-height: 150%;
  text-decoration: none;
}

.agreement {
  margin-left: -40rem;
}

.agreement a {
  color: rgba(43, 53, 65, 0.5);
  text-decoration-line: underline;
}

.agreement a:hover {
  color: #2B3541;
  text-decoration-line: underline;
}

.agreement2 {
  display: none;
}

.checkbox:checked,
.checkbox:not(:checked) {
  position: absolute;
  left: -9999px;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  padding-left: 31px;
  cursor: pointer;
  color: rgba(43, 53, 65, 0.5);
}

/* ÃÂ¡Ã‘â€šÃÂ¸ÃÂ»ÃÂ¸ ÃÂ´ÃÂ»Ã‘Â ÃÂ¿Ã‘ÂÃÂµÃÂ²ÃÂ´ÃÂ¾Ã‘ÂÃÂ»ÃÂµÃÂ¼ÃÂµÃÂ½Ã‘â€šÃÂ° before Ã‘Â Ã‘â€žÃÂ¾ÃÂ½ÃÂ¾ÃÂ¼ ÃÂ¸ ÃÂ¾ÃÂ±ÃÂ²ÃÂ¾ÃÂ´ÃÂºÃÂ¾ÃÂ¹, ÃÂºÃÂ¾ÃÂ³ÃÂ´ÃÂ° ÃÂ¿Ã‘Æ’ÃÂ½ÃÂºÃ‘â€š ÃÂ°ÃÂºÃ‘â€šÃÂ¸ÃÂ²ÃÂµÃÂ½ */
.checkbox:checked + label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 7px;
  top: calc(58% - 11px);
  background-color: #2B3541;
  border-radius: 2px;
  border: 2px solid #2B3541;
}

/* ÃÂ¡Ã‘â€šÃÂ¸ÃÂ»ÃÂ¸ ÃÂ´ÃÂ»Ã‘Â ÃÂ¿Ã‘ÂÃÂµÃÂ²ÃÂ´ÃÂ¾Ã‘ÂÃÂ»ÃÂµÃÂ¼ÃÂµÃÂ½Ã‘â€šÃÂ° after Ã‘Â ÃÂ¸ÃÂ·ÃÂ¾ÃÂ±Ã‘â‚¬ÃÂ°ÃÂ¶ÃÂµÃÂ½ÃÂ¸ÃÂµÃÂ¼, ÃÂºÃÂ¾ÃÂ³ÃÂ´ÃÂ° ÃÂ¿Ã‘Æ’ÃÂ½ÃÂºÃ‘â€š ÃÂ°ÃÂºÃ‘â€šÃÂ¸ÃÂ²ÃÂµÃÂ½ */
.checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  transition: all 0.2s ease;
  opacity: 1;
  left: 10px;
  top: calc(50% - 6px);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}

/* ÃÂ¡Ã‘â€šÃÂ¸ÃÂ»ÃÂ¸ ÃÂ´ÃÂ»Ã‘Â ÃÂ¿Ã‘ÂÃÂµÃÂ²ÃÂ´ÃÂ¾Ã‘ÂÃÂ»ÃÂµÃÂ¼ÃÂµÃÂ½Ã‘â€šÃÂ° before Ã‘Â Ã‘â€žÃÂ¾ÃÂ½ÃÂ¾ÃÂ¼ ÃÂ¸ ÃÂ¾ÃÂ±ÃÂ²ÃÂ¾ÃÂ´ÃÂºÃÂ¾ÃÂ¹, ÃÂºÃÂ¾ÃÂ³ÃÂ´ÃÂ° ÃÂ¿Ã‘Æ’ÃÂ½ÃÂºÃ‘â€š ÃÂÃâ€¢ ÃÂ°ÃÂºÃ‘â€šÃÂ¸ÃÂ²ÃÂµÃÂ½ */
.checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 6px;
  top: calc(39% - 10px);
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #2B3541;
}

/* ÃÂ¡Ã‘â€šÃÂ¸ÃÂ»ÃÂ¸ ÃÂ´ÃÂ»Ã‘Â ÃÂ¿Ã‘ÂÃÂµÃÂ²ÃÂ´ÃÂ¾Ã‘ÂÃÂ»ÃÂµÃÂ¼ÃÂµÃÂ½Ã‘â€šÃÂ° after Ã‘Â ÃÂ¸ÃÂ·ÃÂ¾ÃÂ±Ã‘â‚¬ÃÂ°ÃÂ¶ÃÂµÃÂ½ÃÂ¸ÃÂµÃÂ¼, ÃÂºÃÂ¾ÃÂ³ÃÂ´ÃÂ° ÃÂ¿Ã‘Æ’ÃÂ½ÃÂºÃ‘â€š ÃÂÃâ€¢ ÃÂ°ÃÂºÃ‘â€šÃÂ¸ÃÂ²ÃÂµÃÂ½ */
.checkbox:not(:checked) + label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  transition: all 0.2s ease;
  opacity: 0;
  left: 4px;
  top: calc(50% - 6px);
  background-position: 0 -12px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}

.radio:checked + label::before {
  border-radius: 100%;
}

.features-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.features-title {
  margin-top: 160px;
  margin-bottom: 20px;
  color: rgb(43, 53, 65);
  padding-top: 0px;
}

.features-text {
  font-size: 18px;
  line-height: 150%;
  color: #2B3541;
  width: 483px;
  margin-bottom: 53px;
}

.advantages-mobil {
  display: none;
}

ul.advantages-item {
  display: flex;
  align-items: center;
  gap: 87px;
  list-style-type: none;
  padding: 0px;
  margin-top: -6px;
  font-size: 18px;
  line-height: 140%;
}

@media (max-width: 3000px) {
  .wrapper {
    width: 118%;
  }
}
@media (max-width: 1540px) {
  .wrapper {
    width: 110%;
  }
  .img {
    width: 100%;
    height: 852px;
  }
}
@media (max-width: 1380px) {
  .wrapper {
    width: 104%;
  }
}
@media (max-width: 1230px) {
  .wrapper {
    width: 100%;
  }
}
@media (max-width: 1120px) {
  .arron {
    margin-top: 16rem;
  }
  .img {
    height: 722px;
  }
  .title {
    font-size: clamp(4rem, 3vw, 2.6rem);
  }
  .title_main_grig {
    font-size: 3.4rem;
  }
}
@media (max-width: 1080px) {
  h3 {
    font-size: 2.4rem;
    width: 24rem;
  }
  .text_main {
    font-size: 1.6rem;
  }
  .header__nav a, .header_footer__nav a {
    font-size: 1.6rem;
  }
}
@media (max-width: 1001px) {
  .container {
    max-width: 768px;
  }
  .main__blur {
    height: 34rem;
  }
  .header__nav {
    display: none;
  }
  .header-burger {
    display: block;
  }
  .header {
    padding-bottom: 5.9rem;
  }
  .arron {
    margin-top: 8rem;
  }
  .offer {
    padding-top: 0rem;
  }
  .title, .description, h2, .title_main_grig {
    font-size: 2.6rem;
    width: 35rem;
  }
  .text, .text__paragraph, h3, h4 {
    font-size: 1.6rem;
  }
  h4 {
    margin-top: 0rem;
  }
  h3 {
    width: 14rem;
    line-height: 120%;
  }
  .hero {
    margin-left: 0rem;
    max-width: 100%;
  }
  .img {
    height: 368px;
    transform: translate(-1%, 90px);
  }
  .box {
    top: 0rem;
  }
  .box__Rectangle {
    height: 458px;
    left: 5rem;
  }
  .wrapper {
    width: 100%;
    height: 46rem;
  }
  .main {
    padding: 4rem 0rem;
  }
  .main__row {
    grid-template-columns: repeat(2, 1fr);
    gap: 11px 20px;
  }
  span {
    font-size: 1.4rem;
  }
  .main__bth {
    left: 0px;
    top: 275.5px;
  }
  .main__bth-mobail {
    top: 303px;
  }
  .plus, .plus-olga {
    display: block;
    position: absolute;
    top: 27.9rem;
    right: 0;
  }
  .plus-olga {
    top: 30.6rem;
  }
  .main__bth__hover {
    font-size: 1.4rem;
    width: 16rem;
  }
  .main__bth, .main__bth-mobail {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    width: 10rem;
  }
  .main__row_block1 {
    background-size: 366px 314px;
  }
  .main__row_block2 {
    background-position: top -37px right 0px;
  }
  .main__row_block3 {
    background: url(../image/ipad-img2.jpg);
    width: 205.5%;
    background-position: 21% 30%;
    height: 336px;
  }
  .main__row_block1, .main__row_block2 {
    height: 309px;
  }
  .main__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 24.4rem 24.3rem auto;
    gap: 2rem;
    margin-bottom: 9.5rem;
  }
  .main__grid__item:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/2;
    padding: 0px 29px;
    margin-top: 3px;
  }
  .main__grid__item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/3;
    padding: 0px 29px;
    margin-top: 4px;
  }
  .main__grid__item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 98.5%;
    margin-top: 3px;
  }
  .main__box-yellow {
    padding: 0px 0px 0px 0px;
    margin-top: -4rem;
  }
  .main__grid__item:nth-child(5) {
    grid-column: 2/2;
    grid-row: 2/3;
  }
  .main__grid__item:nth-child(6) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .btn__mobail {
    display: block;
  }
  .agreement {
    display: block;
    margin: 0 auto;
  }
  .form-email-bth__modil {
    display: block;
    width: 55%;
    margin-top: 4rem;
    margin-left: 16.5rem;
  }
  .form-email-btn {
    display: none;
  }
  .wrap {
    height: 73rem;
    gap: 0rem;
  }
  .text__aside {
    width: 29.6rem;
  }
  .trainer:before {
    height: 25%;
  }
  .margin-bottom-16px {
    margin-bottom: 1.6rem;
  }
  .bth-aside {
    width: 20.5rem;
  }
  .padding-top-160px {
    padding-top: 9.5rem;
  }
  .main__row__aside {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 13rem;
  }
  .paragraff {
    font-size: 1.6rem;
    width: 24rem;
  }
  .footer {
    margin-top: 9.5rem;
  }
  .footer__icon {
    display: none;
  }
  .footer_icon-mobail {
    display: block;
    width: 8rem;
    justify-content: end;
  }
  .footer_nav a {
    font-size: 1.4rem;
  }
  .footer__main {
    display: flex;
    justify-content: end;
  }
  .footer__last {
    display: flex;
    gap: 2rem;
  }
  .footer-info {
    top: 2.5rem;
    right: 17rem;
  }
  .footer__text, .e-mail a {
    font-size: 1.2rem;
  }
}
@media (max-width: 720px) {
  .container {
    max-width: 590px;
  }
  .img {
    height: 368px;
    transform: translate(-20%, 90px);
    width: 125%;
  }
  .paragraff {
    font-size: 1.6rem;
    width: 21rem;
  }
  .text__aside {
    width: 27.6rem;
  }
  .offer {
    padding-top: 0rem;
    width: 28rem;
  }
  .main__row_block1 {
    background-size: 274px 314px;
  }
  .main__row_block3 {
    background-position: 100% 30%;
  }
  .wrap {
    gap: 1rem;
  }
  .trainer-img, .trainer:before {
    height: 40%;
  }
  .form-email-bth__modil {
    margin-left: 8rem;
    width: 72%;
  }
  h4 {
    font-size: 1.4rem;
  }
}
@media (max-width: 590px) {
  .container {
    max-width: 370px;
  }
  .arron {
    display: none;
  }
  .title, .description, h2, .title_main_grig {
    font-size: 2.4rem;
    width: 32rem;
  }
  .description, h2 {
    width: 25rem;
  }
  .box {
    top: 28rem;
    left: 0rem;
  }
  .wrapper {
    height: 67rem;
  }
  .img {
    height: 281px;
    width: 340px;
    transform: translate(0%, 70px);
  }
  .box__Rectangle {
    height: 216px;
    left: 0rem;
    top: 15.5rem;
  }
  .bth {
    width: 100%;
  }
  .main__grid {
    display: flex;
    flex-direction: column;
  }
  .main__grid__item, .main__grid__item:nth-child(4) {
    height: 14rem;
  }
  .main__grid__item:nth-child(4) {
    background: transparent;
    box-shadow: none;
    border: solid 1px rgb(43, 53, 65);
    opacity: 1;
  }
  .main__box, .main__box-yellow {
    display: flex;
    gap: 17px;
    margin-top: -3rem;
  }
  .main-img {
    width: 4rem;
    height: 4rem;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    height: 100rem;
  }
  .trainer-img, .trainer:before {
    height: 100%;
  }
  .main__row__aside {
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem 0rem;
  }
  .main__bth__hover {
    display: none;
  }
  .main__row_block3 {
    background-position: top -36px right -76px;
    height: 30rem;
    width: 212%;
  }
  .main__row_block2 {
    background-position: top 0px right 0px;
  }
  .main__row_block1 {
    background-size: 195px 314px;
  }
  .title_main_grig {
    font-size: 2.4rem;
    width: 20rem;
  }
  h2 {
    width: 28rem;
  }
  .agreement {
    margin-left: 0rem;
  }
  .footer__item {
    display: none;
  }
  .footer_icon-mobail {
    display: block;
  }
  input {
    width: 34rem;
  }
  h3 {
    width: 10rem;
    line-height: 120%;
    font-size: 1.4rem;
    margin-top: 0.5rem;
  }
  .footer-row {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  .footer__text, .e-mail a {
    text-align: center;
  }
  .footer-info {
    top: 3.5rem;
    right: 30rem;
  }
  .footer__last {
    margin-top: 1rem;
  }
  svg {
    width: 28px;
    height: 28px;
  }
  h4 {
    padding-top: 1rem;
  }
  .form-email-bth__modil {
    margin-left: 1rem;
    width: 95%;
  }
  .main__bth, .main__bth-mobail {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    width: 10rem;
  }
  .main__bth-mobail {
    top: 267px;
  }
  .plus-olga {
    top: 27rem;
  }
  .footer__item-mobaol {
    display: block;
  }
  .main__grid__item:nth-child(1) {
    transform: scale(1);
    transition: 0.3s;
  }
  .main__grid__item:nth-child(1):hover {
    background: linear-gradient(180deg, #fbf138 0%, #fdf9b6 100%);
  }
  .main__grid__item:nth-child(2) {
    transform: scale(1);
    transition: 0.3s;
  }
  .main__grid__item:nth-child(2):hover {
    background: linear-gradient(180deg, #fbf138 0%, #fdf9b6 100%);
  }
  .main__grid__item:nth-child(3) {
    transform: scale(1);
    transition: 0.3s;
  }
  .main__grid__item:nth-child(3):hover {
    background: linear-gradient(180deg, #fbf138 0%, #fdf9b6 100%);
  }
  .main__grid__item:nth-child(4) {
    transform: scale(1);
    transition: 0.3s;
  }
  .main__grid__item:nth-child(4):hover {
    background: linear-gradient(180deg, #fbf138 0%, #fdf9b6 100%);
  }
  .main__grid__item:nth-child(5) {
    transform: scale(1);
    transition: 0.3s;
  }
  .main__grid__item:nth-child(5):hover {
    background: linear-gradient(180deg, #fbf138 0%, #fdf9b6 100%);
  }
  .main__grid__item:nth-child(6) {
    transform: scale(1);
    transition: 0.3s;
  }
  .main__grid__item:nth-child(6):hover {
    background: linear-gradient(180deg, #fbf138 0%, #fdf9b6 100%);
  }
  .footer_nav {
    gap: 3.4rem;
  }
  .header {
    padding-bottom: 2.9rem;
  }
  .description {
    margin-bottom: 0.6rem;
  }
}
@media (max-width: 370px) {
  .title, .description, h2, .title_main_grig {
    font-size: 2.2rem;
    width: 30rem;
  }
  .img {
    width: 295px;
  }
  .footer-info {
    right: 28rem;
  }
  .footer-info a {
    font-size: 1.2rem;
  }
  .footer_nav {
    gap: 2.5rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  .title_main_grig {
    width: 18rem;
  }
  svg {
    width: 26px;
    height: 26px;
  }
  .header__icon {
    gap: 2rem;
  }
}
@media (max-width: 355px) {
  .footer_nav {
    gap: 2.4rem;
  }
  .footer_nav a {
    font-size: 1.2rem;
  }
  .footer-info {
    right: 25rem;
  }
}/*# sourceMappingURL=stail.css.map */