.main{
padding: 8rem 0rem;
}
.main__row{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap:0px 20px
}

.main__row_block1{
   background:
    url(../image/maraphon.png);
   height: 60rem;

}
.main__row_block2{
   background:
    url(../image/Vebinar\ 1.png);
   height: 59.8rem;

}
.main__row_block3{
   background: 
    url(../image/oiga.jpg);
   height: 59.8rem;
}
.main__row_block1,.main__row_block2,.main__row_block3{
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.main__blur{
   width: 100%;
   height: 60rem;
   transition: 0.2s;
   background:$color-brown;
   position: relative;
   padding: 30px 0px 30px 30px;
}
.main__blur:hover{
 background:$yellow-bluer;
}
.main__blur:hover  .main__bth__hover {
   opacity: 1;
}

span{
   font-weight: 700;
   font-size:  $font-size-paragraph;
   line-height: 150%;
   color:$dark-blue;
   opacity: 0.6;
   margin-bottom: 2rem;
}
.plus,.plus-olga{
 display: none;
}


